$cyan: #00adef;
$magenta: #ec008c;
$yellow: #fff200;
$black: #000000;
$white: #ffffff;

@mixin bg {
  background: $black;
  background: -moz-linear-gradient(
    top,
    $cyan 0%,
    $magenta 33%,
    $yellow 66%,
    $black 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, $cyan),
    color-stop(33%, $magenta),
    color-stop(66%, $yellow),
    color-stop(100%, $black)
  );
  background: -webkit-linear-gradient(
    top,
    $cyan 0%,
    $magenta 33%,
    $yellow 66%,
    $black 100%
  );
  background: -o-linear-gradient(
    top,
    $cyan 0%,
    $magenta 33%,
    $yellow 66%,
    $black 100%
  );
  background: -ms-linear-gradient(
    top,
    $cyan 0%,
    $magenta 33%,
    $yellow 66%,
    $black 100%
  );
  background: linear-gradient(
    to bottom,
    $cyan 0%,
    $magenta 33%,
    $yellow 66%,
    $black 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cyan', endColorstr='$black',GradientType=0 );
}

html,
body,
#root {
  @include bg;
}
.cmyk {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .portion,
  .portion > * {
    height: 100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .portion {
    width: 100%;
    height: auto;
    @media screen and (min-width: 768px) {
      width: auto;
      height: 100%;
    }
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);

    &:hover {
      flex-grow: 5;
    }
    &.cyan {
      background-color: $cyan;
    }
    &.magenta {
      background-color: $magenta;
    }
    &.yellow {
      background-color: $yellow;
    }
    &.black {
      background-color: $black;
    }
    .letter {
      position: absolute;
      margin: 0 auto;
      left: -10000%;
      right: -10000%;
    }
  }
}
.repo {
  transition: all 0.25s ease-in-out;
  position: absolute;
  padding: 0.125rem 0.25rem;
  bottom: 0;
  right: 0;
  text-decoration: none;
  font-size: 0.775rem;
  font-weight: 300;
  mix-blend-mode: difference;
  color: $white;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}
