$animationTiming: 1s;

.letter,
.letter > * {
  @media (orientation: landscape) {
    height: 100%;
  }
  @media (orientation: portrait) {
    width: 100%;
  }
}

.letter {
  @include flexCentered;
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.5);

  &:hover {
    flex-grow: 5;
  }
  &.g {
    background-color: $cyan;
  }
  &.n {
    background-color: $magenta;
  }
  &.l {
    background-color: $yellow;
  }
  &.c {
    background-color: $black;
  }

  @media (orientation: landscape) {
    animation: fadeInRight;
    animation-duration: $animationTiming;
  }
  @media (orientation: portrait) {
    animation: fadeInUp;
    animation-duration: $animationTiming;
  }

  img {
    @media (orientation: landscape) {
      animation: fadeInLeft;
      animation-duration: $animationTiming;
    }
    @media (orientation: portrait) {
      animation: fadeInDown;
      animation-duration: $animationTiming;
    }
  }
}
